// Este es el archivo principal de estilos para el sitio
@import "header";

.main_nav {
background:url(../img/nav.jpg) no-repeat;
background-size:102% 102%;
background-position:-1px -1px;
height:45px;
}

.main_nav ul {
text-align:center;
padding:13px 0 0;
}

.main_nav li {
display:inline-block;
}

.main_nav li a {
display:inline-block;
font-family:SofiaProLiCond,Helvetica,sans-serif;
text-transform:uppercase;
font-size:15px;
color:#fff;
text-decoration:none;
text-shadow:1px 1px 1px #111;
margin:0 20px;
}

.main_nav li a:hover {
color:#111;
text-shadow:1px 1px 1px #fff;
}

.main_nav li a img {
margin-top:-10px;
}

.main_body {
margin:20px 0;
}

.main_body .wrapper a {
text-decoration:none;
color:inherit;
}

.main_body .wrapper .readmore {
font-size:12px;
color:#d85102!important;
text-decoration:underline;
}

.main_body .index_video {
float:left;
width:420px;
height:315px;
background:#fff;
-webkit-box-shadow:1px 1px 0 #fd8743,2px 2px 0 #fd8743,3px 3px 0 #fd8743,4px 4px 0 #fd8743,5px 5px 0 #fd8743;
-moz-box-shadow:1px 1px 0 #fd8743,2px 2px 0 #fd8743,3px 3px 0 #fd8743,4px 4px 0 #fd8743,5px 5px 0 #fd8743;
box-shadow:1px 1px 0 #fd8743,2px 2px 0 #fd8743,3px 3px 0 #fd8743,4px 4px 0 #fd8743,5px 5px 0 #fd8743;
margin:25px 0 0 50px;
}

.main_body .botscuest {
float:left;
width:230px;
text-align:center;
margin:65px 0 0 160px;
}

.main_body .botscuest a {
display:block;
text-align:center;
text-decoration:none;
color:#2b2b2b;
background:url(../img/boton.png) center center no-repeat;
background-size:105% 110%;
font-family:SofiaProLiCond,Helvetica,sans-serif;
font-size:17px;
-webkit-border-radius:10px;
-moz-border-radius:10px;
-ms-border-radius:10px;
-o-border-radius:10px;
border-radius:10px;
text-shadow:0 0 1px #444;
-webkit-box-shadow:2px 2px 4px #2c3e5b;
-moz-box-shadow:2px 2px 4px #2c3e5b;
box-shadow:2px 2px 4px #2c3e5b;
-webkit-transition:color .3s;
-moz-transition:color .3s;
-o-transition:color .3s;
transition:color .3s;
padding:10px;
}

.main_body .botscuest a:hover {
color:#919191;
text-shadow:1px 1px 0 #000;
}

.main_body .botscuest p {
font-family:SofiaProLight,Helvetica,sans-serif;
font-size:19px;
color:#a63e01;
text-transform:uppercase;
text-align:center;
display:block;
text-shadow:2px 2px 1px #fff;
margin:0;
}

.main_body .botscuest .flecha {
display:inline-block;
background:url(../img/flechas.png) no-repeat;
width:50px;
height:26px;
margin:15px 0;
}

.main_body .botscuest .arriba {
background-position:0 0;
}

.main_body .botscuest .abajo {
background-position:0 -37px;
}

.main_body nav {
float:left;
width:900px;
margin-top:50px;
}

.main_body nav .boton {
text-align:center;
float:left;
width:300px;
}

.main_body nav .boton p {
font-family:SofiaProLiCond,Helvetica,sans-serif;
color:#444;
text-shadow:1px 1px 0 #fff;
margin:5px;
}

.main_body nav .boton a {
display:inline-block;
text-indent:-9999px;
height:100px;
width:100px;
background:#444;
-webkit-border-radius:17px;
-moz-border-radius:17px;
-ms-border-radius:17px;
-o-border-radius:17px;
border-radius:17px;
-webkit-box-shadow:0 -2px 8px #8ca2c7;
-moz-box-shadow:0 -2px 8px #8ca2c7;
box-shadow:0 -2px 8px #8ca2c7;
-webkit-transition:width .2s .2s .2s;
-moz-transition:width .2s .2s .2s;
-o-transition:width .2s .2s .2s;
transition:width .2s .2s .2s;
}

.main_body nav .boton a:hover {
height:95px;
width:95px;
-webkit-box-shadow:0 0 1px #444;
-moz-box-shadow:0 0 1px #444;
box-shadow:0 0 1px #444;
}

.main_body nav .boton .b1 {
background:url(../img/nosotrosImg.jpg) center center no-repeat;
background-size:100% 100%;
}

.main_body nav .boton .b2 {
background:url(../img/serviciosImg.jpg) center center no-repeat;
background-size:100% 100%;
}

.main_body nav .boton .b3 {
background:url(../img/publicacionesImg.jpg) center center no-repeat;
background-size:100% 100%;
}
